body {
  background-color: #87CEEB;
}

.darken-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #DDD;
}

.footer-content {
  color: #929292;
  font-size: 10px;
  width: 80%;
  min-height: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
